name: build
on:
  pull_request:
    branches:
      - 'master'
      - 'release/**'
      - 'dev'
    types: [opened, reopened, edited, synchronize]
    paths:
      - 'stock-report.js'
      - 'helpers/**'
      - 'layer/**'
      - 'test/**'
      - 'package.json'
env:
  ES_ID: ${{ secrets.ES_ID }}
  ES_SECRET: ${{ secrets.ES_SECRET }}
  ES_ENDPOINT: ${{ secrets.ES_ENDPOINT }}
jobs:
  # scan code using CodeQL
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        language:
          - 'javascript'
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: ${{ matrix.language }}
    - name: Autobuild
      uses: github/codeql-action/autobuild@v1
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: npm i
    - name: Test
      run: npm test